
.c-clearfix {
    // border-radius: 0;
    border-radius: 255px 15px 15px 15px/15px 225px 76px 255px;

    &::before,
    &::after {
        display: block;
        border-bottom: 2px solid #2378e7;
        // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
}




.c-container-fixed {
    max-width: 720px;
}

.pos-relative {
    position: relative;
}



